<div class="api-path-tree-layout" #pathTreeLayout [style.min-height.px]="pathTreeMinHeight">
  <div class="path-tree-buttons">
    <app-segmented-control
      label="View orientation"
      [options]="viewOptions"
      [value]="horizontalView ? 'tree' : 'list'"
      (valueChange)="setView($event)"></app-segmented-control>

    <app-segmented-control
      label="Path expansion"
      [options]="compressionOptions"
      [value]="joinNodesWithNoLeaves ? 'compressed' : 'expanded'"
      (valueChange)="setCompression($event)"></app-segmented-control>

    <app-segmented-control
      label="Path sorting"
      [options]="sortOptions"
      [value]="sortOrder"
      (valueChange)="setSortOrder($event)"></app-segmented-control>

    @if (tagFilterOptions.length) {
      <details class="path-tree-tag-filter" (toggle)="schedulePathTreeMeasurement()">
        <summary>
          <svg lucideFunnel class="app-icon" aria-hidden="true" focusable="false"></svg>
          <span>Tags</span>
          @if (selectedTagFilters.length) {
            <span class="count-pill">{{ selectedTagFilters.length }}</span>
          }
        </summary>
        <div class="path-tree-tag-filter__panel">
          @for (tag of tagFilterOptions; track tag) {
            <label>
              <input
                type="checkbox"
                [checked]="isTagSelected(tag.value)"
                (change)="toggleTagFilter(tag.value)">
              <span>{{ tag.label }}</span>
            </label>
          }
          <button
            type="button"
            class="app-button app-button--secondary"
            [disabled]="!selectedTagFilters.length"
            (click)="clearTagFilters()">
            <svg lucideFilterX class="app-icon" aria-hidden="true" focusable="false"></svg>
            <span>Clear</span>
          </button>
        </div>
      </details>
    }

    @if (horizontalView) {
      <button class="app-button app-button--primary download-image-button" type="button"
        (click)="downloadImage()"
        [disabled]="generatingImage">
        <svg lucideDownload class="app-icon" aria-hidden="true" focusable="false"></svg>
        <span>Download Image</span>
      </button>
    }
  </div>

  <div>
    <div class="tree-view" #treeView>
      <p-tree [value]="apiPathRenderNodes"
        (onNodeSelect)="openEndpointDetail($event.node?.data)"
        [class]="horizontalView? 'tree-horizontal': 'tree-vertical'">

        <ng-template #node let-node>
          @if (node.type === 'operation') {
            <button
              type="button"
              class="operation-node"
              [appTooltip]="node.tooltip"
              id="{{ node.id }}-node"
              (click)="openEndpointDetail(node.data)">{{ node.label }}</button>
          } @else {
            <button
              type="button"
              class="path-node"
              [attr.aria-expanded]="node.leaf ? null : node.expanded"
              [class.is-collapsed]="!node.leaf && !node.expanded"
              (click)="togglePathNode(node.data, $event)">
              @if (!node.leaf && !node.expanded) {
                <span class="path-node-toggle" aria-hidden="true">
                  <svg lucideChevronRight class="app-icon" aria-hidden="true" focusable="false"></svg>
                </span>
              }
              <span>{{ node.label }}</span>
            </button>
          }
        </ng-template>
      </p-tree>
    </div>
  </div>
</div>

@if (endpointDialogVisible && selectedOperationNode) {
  <app-dialog
    [title]="selectedOperationNode.method + ' ' + selectedOperationNode.path"
    [(open)]="endpointDialogVisible"
    size="large">
      <app-endpoint-swagger
        [apiSpec]="selectedOperationNode.apiDefinition"
        [path]="selectedOperationNode.path"
        [method]="selectedOperationNode.method"
        [operation]="selectedOperationNode.operation">
      </app-endpoint-swagger>
  </app-dialog>
}
