span.required {
    color: red;
}

.path {
    font-weight: bold;
    margin: 1em;
}

p-fieldset {
    margin:1em;
}
p-fieldset dt {
    font-weight: bold;
}
p-fieldset dd {
    font-style: italic;
    font-size: 0.8em;
    margin:0.5em;
}

table {
    width: 100%;
}

th {
    border-bottom: 1px solid #CCC;
}

th {
    text-align: left;
}
td {
    padding:0.5em;
}