
<p-dialog header="Import from URL" [(visible)]="display" [modal]="true"
  [style]="{width: 'min(42rem, 92vw)'}"
  [contentStyle]="{overflow: 'visible'}"
  class="url-import-dialog"
  [minY]="70">
      <div class="url-import-dialog__body">
        <div class="url-import-dialog__field-row">
          <label class="url-import-dialog__label" for="url-input">URL</label>
          <div class="url-import-dialog__input-wrap">
            <input
              class="url-import-dialog__input"
              id="url-input"
              type="url"
              name="url"
              [(ngModel)]="url"
              pInputText
              required>
          </div>
        </div>
      </div>
      <ng-template #footer>
          <div class="url-import-dialog__footer">
            <button type="submit" pButton
              [disabled]="!(url && url.length > 0)"
              (click)="import()">
              <i pButtonIcon class="pi pi-check"></i>
              <span pButtonLabel>Import</span>
            </button>
            <button type="button" pButton
              (click)="display=false" class="p-button-secondary">
              <i pButtonIcon class="pi pi-times"></i>
              <span pButtonLabel>Cancel</span>
            </button>
          </div>
      </ng-template>
</p-dialog>

<button type="button" (click)="showDialog()" pButton>
  <i pButtonIcon class="pi pi-cloud-upload"></i>
  <span pButtonLabel>Import from URL</span>
</button>
