<p-dialog header="Export" [(visible)]="display" [modal]="true"
  [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
      <select [(ngModel)]="exportFormat">
          <option *ngFor="let format of exportFormats" [value]="format.id">
            {{ format.description }}
          </option>
      </select>
      <p-footer>
          <button type="submit" pButton icon="pi pi-check"
            label="Export"
            (click)="export()"></button>
          <button type="button" pButton icon="pi pi-times"
            (click)="display=false" label="Cancel"
            class="p-button-secondary"></button>
      </p-footer>
</p-dialog>

<button type="button" pButton
  (click)="showDialog()"
  [disabled]="!buttonEnabled"
  icon="pi pi-download" label="Export"></button>
