<p-dialog header="Export" [(visible)]="display" [modal]="true"
  [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <select [(ngModel)]="exportFormat">
    @for (format of exportFormats; track format) {
      <option [value]="format.id">
        {{ format.description }}
      </option>
    }
  </select>
  <ng-template #footer>
    <button type="submit" class="app-button app-button--primary" (click)="export()">
      <svg lucideCheck class="app-icon" aria-hidden="true" focusable="false"></svg>
      <span>Export</span>
    </button>
    <button type="button" class="app-button app-button--secondary" (click)="display=false">
      <svg lucideX class="app-icon" aria-hidden="true" focusable="false"></svg>
      <span>Cancel</span>
    </button>
  </ng-template>
</p-dialog>

<button type="button" class="app-button app-button--primary"
  (click)="showDialog()"
  [disabled]="!buttonEnabled">
  <svg lucideDownload class="app-icon" aria-hidden="true" focusable="false"></svg>
  <span>Export</span>
</button>
