<div
  class="segmented-control"
  [class.segmented-control--vertical]="orientation === 'vertical'"
  role="radiogroup"
  [attr.aria-label]="label"
  [attr.aria-orientation]="orientation">
  @for (option of options; track option.value) {
    <label class="segmented-control__option" [class.is-selected]="value === option.value">
      <input
        #optionInput
        class="segmented-control__radio"
        type="radio"
        [name]="name"
        [value]="option.value"
        [checked]="value === option.value"
        (change)="select(option.value)"
        (keydown)="handleKeydown($event, $index)">
      @if (option.icon) {
        <ng-container *ngComponentOutlet="option.icon"></ng-container>
      }
      <span>{{ option.label }}</span>
    </label>
  }
</div>
