<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <app-input-source></app-input-source>
  <app-export></app-export>
  <p-accordion [multiple]="true"> 
    <p-accordionTab header="API Information">
      <app-api-information></app-api-information>
    </p-accordionTab>
    <p-accordionTab header="API Paths">
      <app-api-path-tree></app-api-path-tree>
    </p-accordionTab>
    <p-accordionTab header="Tags">
      <app-api-tags></app-api-tags>
    </p-accordionTab>
  </p-accordion>
</div>
<router-outlet></router-outlet>
