<div>
  <app-input-source></app-input-source>
  <app-export></app-export>
  <p-accordion [multiple]="true"> 
    <p-accordionTab header="API Information">
      <app-api-information></app-api-information>
    </p-accordionTab>
    <p-accordionTab header="API Paths">
      <app-api-path-tree></app-api-path-tree>
    </p-accordionTab>
    <p-accordionTab header="Tags">
      <app-api-tags></app-api-tags>
    </p-accordionTab>
    <p-accordionTab header="Components">
        <app-api-components-detail></app-api-components-detail>
    </p-accordionTab>
  </p-accordion>
</div>